

html {
	width: 100%;
	height: 100%;
	background-color: #f15a29;
}

body {
	position: relative;
	width: 70%;
	height: 80%;
	margin: 0.8em auto;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background-color: white;
	text-align: center;

}

h2 {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 3em;

}

.question-numbers {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.8em;
}

.question-box > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.reset {
	text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    margin: 0 auto;
    width: 6.688rem;
    height: 2rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 0.1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

.reset:hover {
cursor: pointer;
	color: #333333
}


.submit {
	text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    margin: 0 auto;
    width: 6.688rem;
    height: 2rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 0.1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

.submit:hover{
	cursor: pointer;
	color: #333333
}

